{{ block "header" . }}
<header class="hover:cursor-grab py-6 md:max-w-xl text-amber-950 md:mx-auto mx-4 md:container gap-8 md:justify-between justify-center group">
  <div class="items-center flex flex-col h-full tracking-tighter text-xs ">
    <span class="block logo text-center text-6xl w-16 transition ease-in-out duration-500 {{ with .Params.color }}text-{{.}}-500 {{else}}text-accent-500 {{end}} hover:text-accent-500">
    <a href="{{ "/" | relLangURL }}" alt="home">
      {{ if fileExists "/static/logo.svg" }}
      {{ readFile "/static/logo.svg" | safeHTML}}
      {{ else }}
        {{.Params.emoji | default .Site.Params.emoji}}
      {{ end }}
    </a>
  </span>
    <h1 class="drop-shadow-xl text-5xl font-sans font-bold transition ease-in-out duration-500 group-hover:text-amber-700">
      {{ .Site.Title }}
    </h1>
  </div>
</header>
{{ end }}
