{{ block "header" . }}
<header class="hover:cursor-grab py-6 md:max-w-xl text-sunray-500 md:mx-auto mx-4 md:container gap-8 md:justify-between justify-center group">
  <div class="items-center flex flex-col h-full tracking-tighter text-xs ">
    <div class="w-24 logo text-sunray-500">
      {{ if fileExists "/static/negative-logo.svg" }}
            {{ readFile "/static/negative-logo.svg" | safeHTML}}
            <span class="hidden">Get me back to the home</span>
          {{ else }}
            {{.Params.emoji | default .Site.Params.emoji}}
          {{ end }}
    </div>
    <h1 class="text-shadow text-shadow-orange-500 text-shadow-y-md text-shadow-x-md text-shadow-blur-0 text-6xl wilco-low-end transition ease-in-out duration-500 ">
      <a href="/">
      {{ .Title }}
      </a>
    </h1>
    <h2 class="text-shadow text-shadow-orange-500 text-shadow-y-md text-shadow-x-md text-shadow-blur-0 text-4xl wilco-treble transition ease-in-out duration-500">
      {{ .Params.subtitle }}
    </h2>
  </div>
</header>
{{ end }}
