<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ with .OutputFormats.Get "jsonfeed" }}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .RelPermalink | safeURL }}" title="{{ $.Site.Title }}" />
  {{ end -}}
  {{ partial "opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ partial "seo" . }}
  {{ partialCached "shared_head.html" . }}
</head>

<body
    class="font-mono bg-[#38A6BF]  text-base leading-relaxed antialiased font-normal text-darker  {{with .Params.color}}bg-{{.}}-200 selection:bg-{{.}}-300 selection:text-{{.}}-900 {{else}}selection:bg-accent-300 selection:text-accent-900 {{end}}">

  {{ $images := .Resources.ByType "image" }}
  {{ $src := $images.GetMatch "*cover*" }}
  {{ $src := $images.GetMatch "*feature*" }}
  {{ $src := cond (ne $src nil) $src ($images.GetMatch "{*cover*,*thumbnail*}") }}
  {{ $src := cond (ne $src nil) $src (index $images 0) }}

    {{ $lqipw := default "30x20" }}
    {{ $largew := default "2000x1300" }}

    {{/* resize the src image to the given sizes */}}

    {{ $lqip := $src.Fill $lqipw }}
    {{ $large := $src.Fill $largew }}
    
<div class="w-screen h-screen  bg-center bg-cover bg-[#38A6BF] 0bg-[url('{{ $large.RelPermalink }}')]">
  <div class="flex align-items-center justify-items-center place-items-center overflow-hidden place-content-center   w-screen h-screen top-0 left-0">
    <div class="">
      {{ partial "header" . }}
      {{ block "main" . }}
      {{ end }}
    </div>
  </div>
  {{ block "full" . }}
  {{ end }}
</div>

  {{ partial "js" . }}
</body>

</html>
